/*CSS 초기화 식*/
* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  color: inherit;
  border: none;
  text-decoration: none;
}

/* 스크롤바 디자인 */
html::-webkit-scrollbar {
  width: 5px;
}

html::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 50px;
  height: 20%;
}

html::-webkit-scrollbar-track {
  background-color: #2f2b32;
}

/* 페이지 크기 */
.layout {
  width: 100%;
  height: 500vh;
  overflow: hidden;
  flex-direction: column;
}

/* desktop view */

.health_body {
  display: flex;
  justify-content: center;
  width: 100%;
  height: calc(100vh - 200px);
  background-color: #8f8e8e;
}
.health_body_contialner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: solid 1px black;
}
.health_body_val_1 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 40%;
  border: solid 1px black;
}
.health_body_link {
  width: 100%;
  height: 60%;
}
.health_body_img1 .start_health {
  width: 100%;
  height: calc(100vh - 650px);
  /* border: solid 1px black; */
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  background-color: #464646;
}

.und_startHealth_cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  width: 400px;
  height: 200px;
  /* background-color: #000; */
}

.und_startHealth_cont > button {
  width: 150px;
  height: 50px;
  font-size: 20px;
  font-weight: bold;
  color: black;
  border: solid 2px black;
}

.und_startHealth_cont > button:hover {
  background-color: #464646;
}
header {
  /* position: fixed; */
  width: 100%;
  height: 100px;
  padding: 0 30px;
  color: #fff;
  background-color: #2f2b32;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.first_content {
  color: white;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100vh - 100px);
  background-image: url(/img/임시.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
  background-attachment: fixed;
}
.middle_container {
  width: 100%;
  height: calc(100vh - 400px);
}
.middle_under_container {
  align-items: center;
  background-color: black;
  width: 100%;
  height: 100%;
  display: flex;
}
.middle_contVal-1 {
  margin-top: 5px;
  margin-bottom: 5px;
  width: 50%;
  background-color: white;
  height: 97%;
  background-image: url(/img/middle_content.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 120% 150%;
}

.middle_contVal-2 {
  margin-top: 5px;
  margin-bottom: 5px;
  width: 50%;
  background-color: white;
  height: 97%;
  background-image: url(/img/middle_content_2.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 120% 150%;
}
.middle_contVal-1:hover,
.middle_contVal-2:hover {
  filter: blur(10px);
}
.start_health {
  width: 100%;
  height: calc(100vh - 650px);
  border: solid 1px black;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  background-color: #464646;
}
.und_startHealth_cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  width: 400px;
  height: 200px;
  /* background-color: #000; */
}
.und_startHealth_cont > button {
  width: 150px;
  height: 50px;
  font-size: 20px;
  font-weight: bold;
  color: black;
  border: solid 2px black;
  cursor: pointer;
}
.und_startHealth_cont > button:hover {
  background-color: #464646;
}

header {
  width: 100%;
  height: 100px;
  padding: 0 30px;
  color: #fff;
  background-color: #2f2b32;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  color: white;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100vh - 100px);
  background-image: url(/img/임시.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
  background-attachment: fixed;
}

#first > .temp_ > h2,
h5 {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease, transform 1s ease;
}

.spacing {
  width: 100%;
  height: 50px;
}

.middle_container {
  width: 100%;
  height: calc(100vh - 400px);
}

.middle_under_container {
  align-items: center;
  background-color: black;
  width: 100%;
  height: 100%;
  display: flex;
  color: white;
}

.middle_contVal-1 {
  margin-top: 5px;
  margin-bottom: 5px;
  width: 50%;
  background-color: white;
  height: 97%;
  background-image: url(/img/middle_content.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 120% 150%;
}

.middle_contVal-2 {
  margin-top: 5px;
  margin-bottom: 5px;
  width: 50%;
  background-color: white;
  height: 97%;
  background-image: url(/img/middle_content_2.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 120% 150%;
}
.middle_contVal-1:hover,
.middle_contVal-2:hover {
  cursor: pointer;
  filter: blur(7px);
}

.middle_contVal-2 {
  margin-top: 5px;
  margin-bottom: 5px;
  width: 50%;
  background-color: white;
  height: 97%;
  background-image: url(/img/middle_content_2.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 120% 150%;
}

.middle_contVal-1:hover,
.middle_contVal-2:hover {
  backdrop-filter: blur(10px);
  transition: 0.5s;
}

.circleBox {
  border: 1px solid #fff;
  border-radius: 50px;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
}

.circleBox i {
  font-size: 20px;
}

#second {
  height: 100vh;
}

.start_health {
  height: 400px;
}

footer {
  background-color: yellow;
  height: calc(
    100% - 100px - (100vh - 100px) - (100vh - 400px) - 100vh - (100vh - 650px)
  );
}

/* 모바일 버전 */
@media screen and (max-width: 480px) {
  .layout {
    height: 300vh;
  }

  /* 헤더부분 */
  header {
    width: 100%;
    height: 100px;
    padding: 0 30px;
    color: #fff;
    background-color: #2f2b32;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    z-index: 200;
  }

  header .title {
    height: 50%;
  }

  header .hamburger {
    background-color: #2f2b32;
    border: none;
    height: 50%;
    justify-content: center;
    cursor: pointer;
  }

  header i {
    padding: 7.5px 0 7.5px 7.5px;
    font-size: 28px;
    z-index: 300;
  }

  /* 옆에서 나오는 네비게이션 바 */
  .sideMenu {
    transform: translateX(100%);
    transition: 0.5s;
    position: relative;
    top: 0;
    left: 0;
    /* height: 100vh; */
    z-index: 20;
  }

  .sideMenu.open {
    transform: translateX(0%);
  }

  /* 네비게이션 바 외의 섹션 가려주는 div */
  .blackout {
    display: none;
    z-index: 19;
  }

  .blackout.open {
    width: 100%;
    height: 400vh;
    background-color: #000;
    opacity: 70%;
    position: absolute;
    display: block;
  }

  /* 네비게이션 바 */
  .gnb {
    width: 70%;
    height: 100vh;
    position: absolute;
    right: 0;
    background-color: #141414;
    color: #fff;
    padding: 40px 30px 50px 40px;
  }

  .gnb > i {
    display: flex;
    justify-content: end;
    font-size: 36px;
  }

  .navBox {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 30vh;
  }

  .navigation {
    /* border: 1px solid #fff; */
    border-radius: 10px 5px 5px 10px;
    text-align: right;
    height: 50px;
    line-height: 50px;
  }

  .navigation:hover {
    color: #ff0000;
  }

  /* 섹션들 */
  section {
    width: 100%;
    height: calc(100% - 100px);
    /* background-color: yellow; */
  }

  .content {
    width: 100%;
    height: calc(100vh - 100px);
  }

  .middle_container {
    height: 60vh;
  }

  .middle_under_container {
    flex-direction: column;
  }

  .middle_under_container > div {
    width: 100%;
    height: 30vh;
  }

  .start_health {
    height: 30vh;
  }

  .und_startHealth_cont {
    justify-content: space-around;
  }

  footer {
    background-color: yellow;
    height: calc(100% - 100vh - 60vh - 130vh);
  }
}
