/*CSS 초기화 식*/
* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    color: inherit;
    text-decoration: none;
}

.layout {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url(/img/timer배경.jpg);
    background-size: cover;
    /* background-position: center center; */
}

.contents {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: calc(100% - 100px);
    align-items: center;
}

header {
    width: 100%;
    height: 8vh;
    background-color: #909090;
}

.form {
    width: 95%;
    height: 80%;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
    opacity: 90%;
}

.slideContainer {
    width: 100%;
    height: 175%;
}

.gymMachine {
    border: 1px solid #000;
    width: 100%;
    height: calc(100% / 6);
    display: flex;
    /* justify-content: space-between; */
    padding: 10px;
}

.machineImg {
    width: 25%;
    height: 100%;
    /* border: 1px solid #000; */
    margin-right: 1em;
    border-radius: 5px;
    background-image: url(/img/middle_content.jpg);
    background-size: cover;
    box-shadow: 1px .5px .5px .5px #9092a2;
}

.machineFont {
    display: flex;
    flex-direction: column;
}

.machineName {
    font-weight: bold;
    font-size: 1.5em;
}

.machinePart {
    color: #9092a2;
    margin-top: .1em;
}

.cardOnClick {
    width: 100vw;
    height: 100vh;
    /* background-color: yellow; */
    position: absolute;
    display: none;
}

.blackOut {
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 70%;
}

.cardInfo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 90%;
    width: 85%;
    border-radius: 20px 20px 20px 20px;
    background-color: #e6e4e4;
    padding: 30px;
    z-index: 2;
}

.whiteBox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}


.whiteBox img {
    margin: 0 auto;
    width: 90%;
    height: 50%;
}

.whiteBox > p {
    color: #6d6d6d;
}

.whiteBox > a {
    height: 15%;
    width: 100%;
}

.goDirect {
    width: 100%;
    border-radius: 10px;
    height: 100%;
    background-color: #838383;
    display: flex;
    align-items: center;
    justify-content: center;
}

.goDirect > p {
    color: #fff;
    font-size: 20px;
}

/* 글로벌 네비게이션 바 */
.bottomNav {
    /* border: 1px solid #000; */
    display: flex;
    width: 100%;
    height: 100px;
    justify-content: space-around;
    background-color: #fff;
}

.iconContainer {
    width: 96px;
    /* border: 1px solid #000; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}

#onThisSection>a>p {
    color: #000;
}

.iconContainer a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 50px;
    align-items: center;
}

.iconContainer > a > p {
    color: #909090;
    margin-top: .5em;
}

.iconContainer i {
    scale: 170%;
}